// primary colors
$light-cyan = hsl(193, 38%, 86%)
$neon-green = hsl(150, 100%, 66%)

// neutral colors
$gry-blue = hsl(217, 19%, 38%)
$dark-gry-blue = hsl(217, 19%, 24%)
$dark-blue = hsl(218, 23%, 16%)

// font weight
$fnt-wght = 800

// breakpoints
$medium = 33.6rem


/* Box sizing rules */
*
*::before
*::after 
  box-sizing border-box


/* Remove default margin */
body
h1
h2
h3
h4
p
figure
blockquote
dl
dd 
  margin: 0


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list']
ol[role='list'] 
  list-style none


/* Set core root defaults */
html:focus-within 
  scroll-behavior smooth


/* Set core body defaults */
body 
  min-height 100vh
  text-rendering optimizeSpeed
  line-height 1.5


/* A elements that don't have a class get default styles */
a:not([class]) 
  text-decoration-skip-ink auto


/* Make images easier to work with */
img
picture 
  max-width 100%
  display block


/* Inherit fonts for inputs and buttons */
input
button
textarea
select 
  font inherit


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) 
  html:focus-within 
   scroll-behavior auto
  
  
  *,
  *::before
  *::after 
    animation-duration 0.01ms !important;
    animation-iteration-count 1 !important;
    transition-duration 0.01ms !important;
    scroll-behavior auto !important;

body
    background-color $dark-blue
    display flex
    flex-direction column
    justify-content center
    align-items center
    font-family 'Manrope', sans-serif

.sr-only
    position absolute
    width 1px
    height 1px
    padding 0
    top 0
    left 0
    margin-left -10000px
    overflow hidden
    border 0
    clip rect(0, 0, 0, 0)

.card 
    background-color $dark-gry-blue
    max-width 34rem
    margin .7rem
    border-radius .6rem
    padding 2rem 3rem 0
    display flex
    flex-direction column
    align-items center


    &__head
        color $neon-green
        text-transform uppercase
        font-size .78rem
        letter-spacing .3rem
        margin 1rem 0 1.3rem
    
    &__txt 
        text-align center
        color $light-cyan
        margin-bottom 2.3rem
        font-size 1.2rem


.dice-div 
    position relative
    top 2rem

    button
        outline 0
        border 0
        padding 1.3rem
        border-radius 50%
        background-color $neon-green

        ^[1]:hover
          cursor pointer
          box-shadow 0 0 20px 1px @background-color

        ^[1]:focus 
          box-shadow 0 0 20px 1px @background-color

        img
            width 1.6rem


img[src*="desktop.svg"]
    display none

@media screen and (min-width: $medium )
    .card
        ^[0]__txt 
            font-size 1.7rem

    img[src*="desktop.svg"]
        display block

    img[src*="mobile.svg"]
        display none



  
